.articles {
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        gap: 30px;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include desktop {
            flex-wrap: unset;
        }
    }

    &__list-item {
        max-width: 450px;
        width: 100%;

        @include tablet {
            max-width: 354px;
        }
        @include desktop {
            max-width: 270px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: map-get($center, justify-content);
        align-items: map-get($center, align-items);
        padding: 25px;
        background: $icons-background-color;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__icon {
        width: 70px;
        height: 70px;
    }

    &__title {
        text-align: center;
        font-weight: map-get($font-weight, bold);
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
    }

    &__text-wrapper {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $brand-color-grey-text;
        margin-top: 10px;
    }

    &__portfolio {
        display: none;
        flex-wrap: wrap;
        gap: 30px;
    }
}
