.header { display: flex;
    padding: 16px 0px 16px;
    border: solid 1px #ececec;

     @include tablet{
            padding: 26px 0px 26px;
        }
    @include desktop {
            padding: 24px 0px 25px;
            }

    &__wrapper {
        display: flex;   
        align-items: map-get($center, align-items);
    
    }
    &__nav {
        display: flex;
        align-items: map-get($center, align-items);
        flex-grow: 1;
        font-size: 24px;
    }
    &__nav-list {
        display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  @include tablet{
    padding-left: 83px;
    gap: 60px;}
  
        // @include desktop {display: flex;
        //     padding-left: 93px;
        //     list-style-type: none;
        //     gap: 46px;}

    }
    &__nav-link {
        font-weight: map-get($font-weight, medium);
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $brand-color-leading;
        text-decoration: none;
        display: none;
        transition: $transition-duration $transition-timing-function;

        &:is(:hover, :focus) {
            color: $brand-color-blue-button-hover;
            
    }
    @include tablet{display: flex}
        // @include desktop{font-weight: map-get($font-weight, medium);
        //     font-size: 14px;
        //     line-height: 1.14;
        //     letter-spacing: 0.02em;
        //     color: $brand-color-leading;
        //     text-decoration: none;
        //     display: flex;
        //     transition: $transition-duration $transition-timing-function;
    
        //     &:is(:hover, :focus) {
        //         color: $brand-color-blue-button-hover;
        //     }}
    }
    
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 32px;
        
        // @include desktop{ display: flex;
        //     gap: 50px;
        //     padding-left: 335px;}
    }

    &__contacts > a {
        display: none;
        font-weight: map-get($font-weight, medium);
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: $brand-color-grey-text;
        transition: $transition-duration $transition-timing-function;
        &:is(:hover, :focus) {
            color: $brand-color-blue-button-hover;
        }
        // @include desktop{ font-weight: map-get($font-weight, medium);
        //     font-size: 14px;
        //     line-height: 1.14;
        //     letter-spacing: 0.02em;
        //     text-decoration: none;
        //     color: $brand-color-grey-text;
        //     transition: $transition-duration $transition-timing-function;
        //     &:is(:hover, :focus) {
        //         color: $brand-color-blue-button-hover;}
    }
    
    

    &__contacts-icons {
        // display: none;
        // justify-content: map-get($center, justify-content);
        // align-items: map-get($center, align-items);
        // gap: 10px;
        // flex-direction: row-reverse;
        // fill: $color-icons;
        // transition: $transition-duration $transition-timing-function;

        // &:is(:hover, :focus) {
        //     fill: $brand-color-blue-button-hover;
        // }
        // @include desktop{display: flex;
        //     justify-content: map-get($center, justify-content);
        //     align-items: map-get($center, align-items);
        //     gap: 10px;
        //     flex-direction: row-reverse;
        //     fill: $color-icons;
        //     transition: $transition-duration $transition-timing-function;
    
        //     &:is(:hover, :focus) {
        //         fill: $brand-color-blue-button-hover;
        //     }}
    }
}
// @include desktop {
// .is-active {
//     position: relative;
//     color: $brand-color-blue-button-hover;
//     &::after {
//         content: '';
//         position: absolute;
//         top: 46px;
//         width: 100%;
//         height: 4px;
//         background-color: $brand-color-blue-button-hover;
//         border-radius: 2px;
//     }}
// }
.menu-toggle {
  
    display: flex;
  align-items: center;
  justify-content: center;
    margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding-left: 276px;
  fill:$brand-color-black;
  &:is(:hover, :focus){
    fill: $brand-color-blue-button-hover;
   
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 480px;
height: 796px;
padding-top: 48px;
padding-left: 40px;
  background-color:$brand-color-white;
transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 21px;
  right: 25px;
  overflow: hidden;
 
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:36px;
  

  &__contacts{
   
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 302px;
    }
    &__contacts-link{
        text-decoration: none;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color:$brand-color-grey-text;
    &--font-color{
    font-size: 34px;
line-height: 1.17;
color:$brand-color-blue-button-hover;
}
}
    &__link{
    font-weight: map-get($font-weight, medium);
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
text-decoration: none;
color:$brand-color-leading;
&--color{
    color:$brand-color-blue-button-hover
  }
}
&__social-media{
    display: flex;
    margin-top: 64px;
    font-weight:map-get($font-weight , medium );
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color:$brand-color-blue-button-hover;
    text-decoration: none;
    }
    &__social-media-link{
        text-decoration: none;
        color: $brand-color-blue-button-hover;
        font-weight:map-get($font-weight , med );
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;

    }
}
.vertical-line{
    border: 1px solid rgba(33, 33, 33, 0.2);
  height: 22px;
  width: 0;
 margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}

// .mobile-menu .header__nav-link{
//   display: block;
//   padding: 10px;
//   color: #fff;
//   text-decoration: none;
// }



