.logo {
    display: flex;
    font-family: 'Raleway';
    font-weight: map-get($font-weight, bold);
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: $brand-color-blue-button-hover;

    &:is(:hover, :focus) {
        color: $brand-color-blue-button-hover;
    }
}
.studio-black {
    color: $brand-color-black;
}
.studio-white {
    color: $brand-color-white;
}
