.backdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition-property: visibility, opacity, transform;
    transition-delay: 250ms;
    transition-timing-function: linear;
}
.modal {
    transition: transform 250ms linear;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 528px;
    min-height: 581px;
    background-color: $brand-color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    &__close {
        position: absolute;
        opacity: 1;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $brand-color-white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
    & > p {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: map-get($center, text-align);
        letter-spacing: 0.03em;
        color: $brand-color-leading;
    }
    &__label {
        display: flex;
        font-weight: map-get($font-weight, normal);
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $brand-color-grey-text;
        margin-top: 12px;
        margin-bottom: 4px;
    }
    &__input {
        position: relative;
        & > input {
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            padding-left: 42px;
            width: 100%;
            min-height: 40px;
            outline: none;
            transition: $transition-duration $transition-timing-function;
            &:focus-within {
                border-color: $brand-color-blue-button-hover;
            }
        }
        & > svg {
            position: absolute;
            top: 11px;
            bottom: 11px;
            left: 11px;
            transition: $transition-duration $transition-timing-function;
            fill: $brand-color-leading;
        }
        &:focus-within svg {
            fill: $brand-color-blue-button-hover;
        }
    }
    &__checkbox-label {
        display: flex;
        width: 16px;
        height: 15px;
        border: 2px solid $brand-color-black;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        margin-top: 4px;
    }

    &__checkbox-input {
        display: none;
    }
    &__checkbox-input:checked + &__checkbox-label {
        border: none;
        background-image: url('../images/iconcheck.jpg');
    }

    &__checkbox {
        display: flex;
        padding-left: 15px;
        margin-top: 20px;
    }

    &__regulations-and-policy-text {
        display: flex;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $brand-color-grey-text;
    }

    &__button {
        width: 200px;
        height: 50px;
        background: $brand-color-blue-button-hover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: $brand-color-white;
        border: none;
        font-size: 16px;
        line-height: 1.8;
        text-align: map-get($center, text-align);
        letter-spacing: 0.06em;
        margin-top: 30px;
        cursor: pointer;
    }
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(45deg);
}
.textarea {
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition: $transition-duration $transition-timing-function;
    outline: none;
    &:focus-within {
        border-color: $brand-color-blue-button-hover;
    }
}
