body {
    font-family: 'Roboto', sans-serif;
    color: $brand-color-leading;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.container {
	max-width: 480px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;

	@include tablet {
		max-width: 768px;
	}
	@include desktop {
		max-width: 1200px;
	}
}

.section {
    padding: 60px 0;
}
img {
    vertical-align: middle;
    display: block;
  max-width: 100%;
  height: auto;

}
.headline-img {
    display: flex;
    justify-content: center;
    font-weight: map-get($font-weight, bold);
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    color: $brand-color-black;
}

