$brand-color-blue-button-hover: #2196f3;
$brand-color-grey-text: #757575;
$brand-color-background-footer: #2f303a;
$brand-color-contact-footer: #ffffff99;
$brand-color-white: #ffffff;
$brand-color-black: #000000;
$brand-color-leading: #212121;
$color-icons: #afb1b8;
$icons-background-color: #f5f4fa;
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-weight: (
    ultraBold: 900,
    bold: 700,
    medium: 500,
    normal: 400,
);
$center: (
    text-align: center,
    justify-content: center,
    align-items: center,
);
